.container{
    width: 60%;
    margin: auto;
    text-align: center;
}

button{
    padding: 15px 30px;
    outline: none;
     border: solid 2px #111;
     border-radius: 30px;
     color: #111;
     background-color: #fff;
     cursor: pointer;
     font-size: 22px;
     font-weight: bolder;
}

button:hover{
    background-color: #111;
    color: #fff;
    transform: .5s ease-in-out;
}

.box{
    margin: auto;
    margin-top: 60px;
    background-color: rgb(192, 98, 98);
    height: 400px;
    width: 300px;
    border-radius: 30px;
    line-height: 400px;
    text-align: center;
    font-weight: bolder ;
}